*{
  margin: 0;
  padding: 0;
}

.header-p{
    font-family: 'Times New Roman', Times, serif;
}

.logo{
    display: flex;
    font-size: 40px;
    margin-left: 40px;
}

.logo-img{
    margin-top: 20px;
    margin-right: 20px;
}

.logo-img img{
    width: 100px;
}

.logo p{
    margin-top: 40px;
}

.top-img img{
    width: 100%;
}
